@import '../../styles/variables';

.card-item {

  cursor: pointer;
  margin: 0 10px 5px 0;
  transition: .3s;

  &:hover {
    transform: scale(1.05);
  }

  &.clicked {
    transform: rotateY(180deg);

    img {
      height: 300px;
      transform: rotateY(180deg);
    }
  }

  &__img {
    height: 300px;
  }

}
