.App-container {
  align-content: space-around;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  padding: 30px;
}

.card-item {
  margin: 0 10px 5px 0;
}

img {
  height: 300px;
}
